@import "tailwindcss";



/* App specific styles */


* {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.scroll-reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.scroll-reveal.show {
  opacity: 1;
  transform: translateY(0);
}
